{% include "header.html" %}
<h1 class="header">Please edit the product item</h1>
<form action="{{url_for('editItem' ,categories_id=categories_id, items_id=items_id, item=editedItem)}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="50" name="name" placeholder = '{{item.name}}'>
  <p>Description:</p>
  <input type="text" size="50"  name="description" placeholder = '{{item.description}}'>
  <p>Product Category:</p>
  <select name="categories_id">
    <option value="" selected="selected"></option>
    <option value=1 >mobile</option>
    <option value=2 >notebook</option>
    <option value=3 >tablet</option>
    <option value=4 >musicplayer</option>
    <option value=5 >desktop</option>
    <option value=6 >storage</option>
    <option value=7 >dslr</option>
    <option value=8 >mirrorless</option>
    <option value=9 >gaming</option>

  </select>
  </br></br>
  <input type="submit" value ="Update">
  <a href = "{{url_for('showItem',categories_id=categories_id, items_id=items_id)}}"><button type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>
